<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.c2.mapper.UserMapper">
    <resultMap type="com.c2.model.User" id="detailUserResultMap" autoMapping="true">
        <constructor>
            <idArg column="user_id" javaType="String"/>
            <arg column="user_name" javaType="String"/>
        </constructor>

        <result property="password" column="user_pwd" />
        <result property="type" column="user_type" javaType="com.c2.model.UserType"/>
        <result property="svcnum" column="svc_num" javaType="String"/>

        <association property="cust" javaType="com.c2.model.Cust">
            <id property="id" column="cust_id"/>
            <result property="custname" column="cust_name"/>
            <result property="certNo" column="cert_no"/>
        </association>

        <collection property="accts" ofType="com.c2.model.Acct">
            <id property="id" column="acct_id" />
            <result property="payName" column="pay_name"/>
            <result property="bankNo" column="bank_no"/>
        </collection>

    </resultMap>


    <select id="selectUserDetail" resultMap="detailUserResultMap">
        <![CDATA[

			select u.user_id,user_name,user_pwd,svc_num,user_type ,c.cust_id,c.cust_name ,a.id as acct_id,a.pay_name,a.bank_no from tf_f_user u   left JOIN cert c on c.cust_id=u.cust_id  left JOIN acct a on a.user_id=u.user_id where u.user_id=#{userId};


		]]>
    </select>



</mapper>
